
@media screen and (min-height: 600px) {
  .urlbarView-results[wrap] > .urlbarView-row {
    &:where(:not([rich-suggestion])) > .urlbarView-row-inner {
      flex-wrap: nowrap !important;

      > .urlbarView-no-wrap {
        max-width: fit-content !important;
        flex-basis: none !important;
      }
    }

    &[has-url] > .urlbarView-row-inner > .urlbarView-url {
      &:-moz-locale-dir(ltr) {
        margin-left: unset !important;
      }
    }


    .urlbarView[action-override] &[has-url]:not([restyled-search]),
    &[has-url]:not([type$=tab], [sponsored], [restyled-search]),
    &[has-url]:is([type=remotetab], [sponsored]):is(:hover, [selected]),
    &[type=tabtosearch] {
      .urlbarView-title-separator {
        display: flex !important;
      }
    }
  }
}











.tab-close-button.close-icon {
  border-radius: 6px !important;
}

.tab-background {
  transition: background 0.15s ease-out !important;
}









#urlbar-zoom-button {
background: rgba(255,255,255,0.1) !important;
}

#urlbar-input {
margin-left: 4px !important;
transition: margin-left 0.2s ease;
}

#urlbar-input:hover {
margin-left: 0px !important;
}








/*
 * .search-one-offs {
 *    position: absolute !important;
 *    top: -300px !important;
 *    background: var(--toolbar-field-background-color) !important;
 *    display: flex !important;
 *    flex-direction: row !important;
 *    max-height: 0 !important;
 *    overflow: hidden !important;
 *    opacity: 0 !important;
 *    transition: max-height 0.1s ease-in-out, opacity 0.1s ease-in-out !important;
 * }
 *
 * #urlbar:hover .search-one-offs{
 *    max-height: 50px !important;
 *    opacity: 1 !important;
 *    top: 0 !important;
 * }
 */

.search-one-offs{display: none !important;}

#urlbar[open] {
top: calc(var(--zen-toolbar-height) * 3.3) !important;
}
#urlbar-background{
border-radius: 12px !important;
}
#urlbar[breakout-extend="true"] > #urlbar-background {
background: rgba(20,20,20) !important;
}


#urlbar[breakout-extend] {
#identity-permission-box, #tracking-protection-icon-container, #page-action-buttons {
display: none !important;
}

#identity-icon-box {
margin: 5px !important;
scale: 150%;
border-radius: 6px !important;
}

#identity-box {
margin-right: 0px !important;
}

#urlbar-input {
margin-left: 5px !important;
margin-right: 5px !important;
}
}

.urlbarView-row-inner {
  border-radius: calc(var(--urlbarView-row-gutter) + var(--toolbarbutton-border-radius));
  display: flex !important;
}

.urlbarView-title, .urlbarView-title-separator, .urlbarView-action, .urlbarView-url {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.urlbarView-title {
  font-size: 16px !important;
  font-weight: 500 !important;
}

.urlbarView-url, .urlbarView-title-separator::before {
  font-weight: 500 !important;
  color: #aaa !important;
}

.urlbarView-favicon {
  margin-left: 3px !important;
  margin-right: 12px !important;
  padding:4px !important;
  border-radius: 6px !important;
  transform: scale(1.5) !important;
}


.urlbarView-row:hover {
  background: transparent !important;


  .urlbarView-favicon {
    background-color: #f1efe2 !important;
  }


  .urlbarView-row-inner {
    background: color-mix(in srgb, var(--zen-colors-primary) 30%, #f1efe230) !important;
  }
}

* {
  --urlbarView-item-inline-padding: 8px !important;
  --urlbarView-item-block-padding: 12px !important;
}
















.tab-preview-title {
  overflow: hidden !important;
  -webkit-line-clamp: none !important;
}



#PanelUI-menu-button {
list-style-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Generator: Adobe Illustrator 28.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;fill:%23FFFFFF;}</style><path class="st0" d="M16,22.2c3.4,0,6.2-2.8,6.2-6.2c0-3.4-2.8-6.2-6.2-6.2c-3.4,0-6.2,2.8-6.2,6.2C9.8,19.4,12.6,22.2,16,22.2z M20.9,16c0,2.7-2.2,4.9-4.9,4.9s-4.9-2.2-4.9-4.9s2.2-4.9,4.9-4.9S20.9,13.3,20.9,16z"/><path class="st0" d="M26.7,16c0,5.9-4.8,10.7-10.7,10.7S5.3,21.9,5.3,16S10.1,5.3,16,5.3S26.7,10.1,26.7,16z M16,24.6c4.8,0,8.6-3.9,8.6-8.6S20.8,7.4,16,7.4S7.4,11.2,7.4,16S11.2,24.6,16,24.6z"/><path class="st0" d="M32,16c0,8.8-7.2,16-16,16S0,24.8,0,16S7.2,0,16,0S32,7.2,32,16z M16,29.1c7.3,0,13.1-5.9,13.1-13.1S23.3,2.9,16,2.9S2.9,8.7,2.9,16S8.7,29.1,16,29.1z"/></svg>') !important;
}


/* sets the linkly Extention to the arc copy link icon */
#pageAction-urlbar-copy-frame-url_jeffersonscher_com {
list-style-image: url("https://raw.githubusercontent.com/neurokitti/Arc_Zen_Theme/6da4c1ca78cc521bea1026ff024fcc8528ae6a49/icons/copy_link.svg") !important;
scale: 1;
}


.reset-icon {
  display: none !important;
}







.tabbrowser-tab .tab-background:is([selected], [multiselected]) {
  border-top: 1px solid #ffffff1f !important;
  border-bottom: 1px solid #0000001f !important;
}
/* Style for pinned tabs with dynamically set favicon color */
.tabbrowser-tab[pinned] .tab-background:not([selected], [multiselected]) {
  opacity: 0.2;
  border-top: 1px solid #ffffff1f !important;
  border-bottom: 1px solid #0000001f !important;
}
.tabbrowser-tab[pinned] .tab-background:is([selected], [multiselected]) {
  border-top: 1px solid #ffffff1f !important;
  border-bottom: 1px solid #0000001f !important;
  opacity: 0.5;
  box-shadow: none !important;
}
.tabbrowser-tab[pinned]:not([zen-essential="true"]) .tab-background:not([selected], [multiselected]) {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-top: 1px solid #ffffff1f !important;
  border-bottom: 1px solid #0000001f !important;
}










tab-group:has(tab[hidden]){
  display: none !important;
}
tab-group {
  display: grid !important;
  background: color-mix(in srgb, var(--tab-group-color-invert) 10%, transparent) !important;
  border-radius: var(--border-radius-medium);
  margin-top: 2px;
  margin-bottom: 2px;
  margin-inline: 2px !important;
  border: 2px solid color-mix(in srgb, var(--tab-group-color-invert) 10%, transparent);
  padding: 3.1px 0px !important;
  max-height: 1000px !important;

  &>vbox {
    padding-top: 2px !important;
  }

  & .tab-group-label-container {
    &:after {
      display: none !important;
    }

    &>label {
      background: transparent !important;
      border: unset !important;
      font-weight: 500 !important;
      text-align: unset !important;
      color: var(--sidebar-text-color) !important;
      padding-left: 32px !important;
    }
    &>label::before {
      content: "" !important;
      position: absolute !important;
      left: 5px !important;
      top: 50% !important;
      transform: translateY(-50%) !important;
      width: 16px !important;
      height: 16px !important;
      background-color: var(--sidebar-text-color);
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjAgOS41MDJWOC43NWEyLjI1IDIuMjUgMCAwIDAtMi4yNS0yLjI1aC01LjcyNWwtMi4zOC0xLjk4QTIuMjUgMi4yNSAwIDAgMCA4LjIwNCA0SDQuMjVBMi4yNSAyLjI1IDAgMCAwIDIgNi4yNWwtLjAwNCAxMS41QTIuMjUgMi4yNSAwIDAgMCA0LjI0NiAyMEgxOC40N2ExLjc1IDEuNzUgMCAwIDAgMS42OTgtMS4zMjVsMS43NS02Ljk5OGExLjc1IDEuNzUgMCAwIDAtMS42OTgtMi4xNzVIMjBaTTQuMjUgNS41aDMuOTU2YS43NS43NSAwIDAgMSAuNDguMTczbDIuNTg4IDIuMTU0YS43NS43NSAwIDAgMCAuNDguMTczaDUuOTk2YS43NS43NSAwIDAgMSAuNzUuNzV2Ljc1Mkg2LjQyNGEyLjI1IDIuMjUgMCAwIDAtMi4xODMgMS43MDRsLS43NDQgMi45NzhMMy41IDYuMjVhLjc1Ljc1IDAgMCAxIC43NS0uNzVabTEuNDQ3IDYuMDdhLjc1Ljc1IDAgMCAxIC43MjctLjU2OEgyMC4yMmEuMjUuMjUgMCAwIDEgLjI0Mi4zMWwtMS43NSA2Ljk5OWEuMjUuMjUgMCAwIDEtLjI0Mi4xODlINC4yODVhLjI1LjI1IDAgMCAxLS4yNDMtLjMxbDEuNjU1LTYuNjJaIiBmaWxsPSIjMDAwMDAwIi8+PC9zdmc+');
      mask-size: contain;
      mask-repeat: no-repeat;
      background-size: contain !important;
      background-repeat: no-repeat !important;
    }
  }

  &[collapsed] {
    overflow: hidden !important;
    max-height: 35px !important;

    & tab {
      opacity: 0 !important;
    }
    & .tab-group-label-container > label {
      background: transparent !important;
      border: unset !important;
      font-weight: 500 !important;
      text-align: unset !important;
      color: var(--sidebar-text-color) !important;
      padding-left: 32px !important;
    }
    & .tab-group-label-container > label::before {
      content: "" !important;
      position: absolute !important;
      left: 5px !important;
      top: 50% !important;
      transform: translateY(-50%) !important;
      width: 16px !important;
      height: 16px !important;
      background-color: var(--sidebar-text-color);
      mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC4yMDcgNGMuNDYgMCAuOTA4LjE0MSAxLjI4NC40MDJsLjE1Ni4xMkwxMi4wMjIgNi41aDcuNzI4YTIuMjUgMi4yNSAwIDAgMSAyLjIyOSAxLjkzOGwuMDE2LjE1OC4wMDUuMTU0djlhMi4yNSAyLjI1IDAgMCAxLTIuMDk2IDIuMjQ1TDE5Ljc1IDIwSDQuMjVhMi4yNSAyLjI1IDAgMCAxLTIuMjQ1LTIuMDk2TDIgMTcuNzVWNi4yNWEyLjI1IDIuMjUgMCAwIDEgMi4wOTYtMi4yNDVMNC4yNSA0aDMuOTU3Wm0xLjQ0IDUuOTc5YTIuMjUgMi4yNSAwIDAgMS0xLjI0NC41MTJsLS4xOTYuMDA5LTQuNzA3LS4wMDF2Ny4yNTFjMCAuMzguMjgyLjY5NC42NDguNzQzbC4xMDIuMDA3aDE1LjVhLjc1Ljc1IDAgMCAwIC43NDMtLjY0OGwuMDA3LS4xMDJ2LTlhLjc1Ljc1IDAgMCAwLS42NDgtLjc0M0wxOS43NSA4aC03LjcyOUw5LjY0NyA5Ljk3OVpNOC4yMDcgNS41SDQuMjVhLjc1Ljc1IDAgMCAwLS43NDMuNjQ4TDMuNSA2LjI1djIuNzQ5TDguMjA3IDlhLjc1Ljc1IDAgMCAwIC4zOTUtLjExM2wuMDg1LS4wNiAxLjg5MS0xLjU3OC0xLjg5LTEuNTc1YS43NS43NSAwIDAgMC0uMzc3LS4xNjdMOC4yMDcgNS41WiIgZmlsbD0iIzAwMDAwMCIvPjwvc3ZnPg==');
      mask-size: contain;
      mask-repeat: no-repeat;
      background-size: contain !important;
      background-repeat: no-repeat !important;
    }
  }
  & .tab-content {
    margin-left: 6px !important;
  }
}

















#sidebar-box {
margin-bottom: 0px !important;
margin-right: 3px !important;
}



























































































#zen-workspaces-button {
background-color: rgba(255, 255, 255, 0.04) !important;
box-shadow: 0px 1px 10px rgba(0,0,0,0.1) !important;
border-radius: 8px !important;
border: 1px solid #ffffff0c !important;
}

.titlebar-button > .toolbarbutton-icon {
  background: #ffffff1f !important;
  list-style-image: none;
  border-radius: 10px;
  transition: 0.2s ease;
  border: 1px solid #3aea4900 !important;
}
.titlebar-min > .toolbarbutton-icon {
  background: #ffffff1f !important;
}
.titlebar-close > .toolbarbutton-icon {
  background: #ffffff1f !important;
}

.titlebar-button:hover > .toolbarbutton-icon {
  background: #3aea4994 !important;
  border: 1px solid #3aea49 !important;
}
.titlebar-min:hover > .toolbarbutton-icon {
  background: #fac53794 !important;
  border: 1px solid #fac537 !important;
}
.titlebar-close:hover > .toolbarbutton-icon {
  background: #f34f5694 !important;
  border: 1px solid #f34f56 !important;
}
/*
 *  .titlebar-button {
 *    background: transparent !important;
 *    padding-inline: 5px !important;
 *  }
 *
 */
#zen-workspaces-button {
.subviewbutton {
  &[active="true"] {
    background: rgba(255, 255, 255, 0.1) !important;
    transition: 0.3s !important;
    border: 1px solid #ffffff0a !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.062) !important;

  }

  &:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    transition: 0.3s !important;
  }

  &:after {
    display: none !important;
  }

}
}

#zen-current-workspace-indicator {
padding: 10px calc(4px + var(--tab-inline-padding)) !important;
font-weight: 500 !important;
}

.tab-close-button {
  padding: 5px !important;
  border-radius: 20px !important;
}


.close-icon:hover {
  background-color: color-mix(in srgb, currentColor 20%, transparent) !important;
}

/* This style simply makes the tab stay visible while it is being closed as well as makes the transition a bit slower */

.tabbrowser-tab:not([pinned],[fadein]){
  transition-duration: 240ms, 240ms !important;
  transition-timing-function: ease-out, ease-out !important;
  visibility: visible !important;
}
.tab-content:not([fadein],[pinned])
.tab-icon-pending:not([fadein]),
.tab-icon-image:not([fadein]),
.tab-label:not([fadein]){
  visibility: visible !important;
}
.tab-label:not([fadein]){
  display: flex !important;
}
}








#zen-workspaces-button {
&:not([as-button='true']) {
  width: 100%;
}
& toolbarbutton {
  width: auto !important;
  flex: 1 1 4px !important;
  min-width: 0;
}
}
